@import url("font-family.css");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CabinetGrotesk";
  text-decoration: none;
  list-style: none;
}

:root {
  /* --primary:#f9f7ef; */
  /* --secondary: #1C24ED; */
  --primary: #000;
  --secondary: #fff;
  --tertiary: #b3d822;

  --transition-ease: all 0.5s ease;
  --transition-cubic: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  overflow-x: hidden;
}

.title {
  font-weight: 700;
  text-align: center;
  font-size: 80px;
  line-height: 72px;
}

.subtitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 40px;
}

.text {
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 1388px;
  width: 100%;
  margin: auto;
}

.section {
  padding: 5rem;
}

/* Global */

/* Header */
.header {
  background-color: #000;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  & .menu-item {
    color: var(--tertiary);
    position: relative;
    font-size: 18px;
    cursor: pointer;
    padding: 3px 6px;
    transition: var(--transition-ease);

    &:hover {
      color: var(--secondary);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 0%;
      height: 0%;
      transition: var(--transition-ease);
    }

    &::before {
      right: -1px;
      bottom: -1px;
      border-bottom: 1px solid transparent;
      border-right: 1px solid transparent;
    }

    &::after {
      top: 0;
      left: 0;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
      border-color: var(--secondary);
    }
  }
}
/* Header */

/* Banner */
.section-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  top: -107px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.pagination {
  position: absolute;
  right: 80px;
  bottom: 50%;

  display: flex;
  gap: 6px;

  & .arrow {
    /* background-color: var(--tertiary); */
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;

    & .bi {
      width: 50px;
      height: 50px;
      padding: 8px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 0%;
      height: 0%;
      transition: var(--transition-ease);
    }

    &::before {
      right: -1px;
      bottom: -1px;
      border-bottom: 1px solid transparent;
      border-right: 1px solid transparent;
    }

    &::after {
      top: 0;
      left: 0;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
      border-color: var(--secondary);
    }
  }
}

/* Banner */

/* About home */
.section-about-home {
  text-align: center;
  position: relative;

  top: 0;
  left: 0;

  & .subtitle {
    margin-bottom: 8px;
  }

  & .text {
    max-width: 500px;
    margin: auto;
    margin-bottom: 100px;
  }

  & .target-section {
    height: calc(100vh - 107px);
    margin-bottom: 1000px;
  }

  & .items-cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    list-style: none;
    gap: 32px;
    margin-left: 50vw;

    & .item {
      margin-top: 107px;
      min-width: 400px;
      height: 100vh;
      background: var(--secondary);
      text-align: center;

      color: var(--primary);
      position: relative;
      z-index: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 16px;

      & .card-title {
        position: relative;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        transition: var(--transition-ease);

        & .subtitle {
          font-weight: 400;
          font-size: 40px;
          margin: 0;
          letter-spacing: -2px;
        }

        & .arrow {
          width: 50px;
          height: 50px;

          & .bi {
            width: 50px;
            height: 50px;
            padding: 8px;
          }
        }
      }

      &:hover .card-title {
        top: 0;
      }

      & .text-hidden {
        max-width: 350px;
        position: relative;
        top: -20px;
        opacity: 0;
        transition: var(--transition-ease);
      }

      &:hover .text-hidden {
        opacity: 1;
        top: 0px;
      }

      /* After Before */
      &::after,
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
      }

      &::before {
        background-color: var(--secondary);
        z-index: -2;
      }

      &::after {
        background-color: var(--tertiary);
        height: 0%;
        transition: var(--transition-ease);
        z-index: -1;
      }

      &:hover::after {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .scrolling-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 100% 100%;
    position: absolute;
    top: 50%;
    z-index: -1;

    & .scrolling {
      display: flex;
      gap: 32px;
      /* overflow: hidden; */
      animation: scrolling-x 60s linear infinite;

      & .subtitle {
        font-size: 80px;
      }
    }

    &.right {
      top: calc(50% + 100px);

      & .scrolling {
        animation: scrolling-x 60s linear infinite reverse;
      }
    }

    & .subtitle {
      font-weight: 500;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}

@keyframes scrolling-x {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.space {
  height: 5000px;
}

/* opening box */

#container-box {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

#box-1 {
  background-color: #b3d822;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

