@import url("./css/font-family.css");

/* Global */

.space {
  height: 5000px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "CabinetGrotesk"; */
  font-family: "Roboto", serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;

  scroll-padding-top: 160px;
}

:root {
  /* --primary:#f9f7ef; */
  /* --secondary: #1C24ED; */
  --primary: #000;
  --secondary: #fff;
  --tertiary: #b3d822;

  --transition-ease: all 0.5s ease;
  --transition-cubic: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);

  --clip-path-bottom: polygon(0 0, 100% 0, 100% 95%, 63% 95%, 60% 100%, 0 100%);
  --clip-path-top: polygon(35% 0, 38% 5%, 100% 5%, 100% 100%, 0 100%, 0 0);
}

body {
  background-color: var(--secondary);
  color: var(--secondary);
  overflow-x: hidden;
  /* cursor: url('cursor-1x1.png'), pointer; */
}

.title {
  font-weight: 600;
  text-align: center;
  font-size: 80px;
  line-height: 90px;

  & span {
    color: var(--tertiary);
  }

  &.color-secondary {
    color: var(--primary);
  }
}

.subtitle {
  font-weight: 600;
  font-size: 48px;
  /* line-height: 40px; */
}

.text {
  font-weight: 400;
  font-size: 18px;

  &.gray {
    color: #676767;
  }
}

.container {
  max-width: 1388px;
  width: 100%;
  margin: auto;
}

.section {
  padding: 5rem;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--tertiary);
  position: fixed;

  pointer-events: none;
  transform: translate(-50%, -50%);

  z-index: 11;
}

.cursor-point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--tertiary);
  position: fixed;

  pointer-events: none;
  transform: translate(-50%, -50%);

  z-index: 11;
}

/* Quando o cursor estiver sobre um link ou botão, mudar o estilo */
a:hover .cursor,
button:hover .cursor {
  background-color: blue; /* Muda a cor */
  transform: translate(-50%, -50%) scale(1.5); /* Aumenta o tamanho */
}

/* Global */

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
  }
}

.navbar-toggler-custom {
  background-color: var(--tertiary);
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  cursor: pointer;

  & .navbar-toggler-icon {
    width: 32px;
    height: 3px;
    border-radius: 6px;
    background-color: var(--primary);
    transition: all 0.3s ease;
  }
}

#menu-drop {
  display: none;
}

#menu-drop:checked + .navbar-toggler-custom + .menu {
  pointer-events: all;
  opacity: 1;
}

#menu-drop:checked + .navbar-toggler-custom + .menu .menu-item {
  animation: slide-left 1s forwards;
}

#menu-drop:checked + .navbar-toggler-custom {
  & .toggler-1 {
    transform: rotate(45deg) translate(10px, 10px);
  }

  & .toggler-2 {
    transform: rotate(-45deg);
  }

  & .toggler-3 {
    transform: rotate(-45deg) translate(11px, -11px);
    opacity: 0;
  }
}

.container-img {
  position: relative;
  /* top: -129px; */
  width: 100%;
  height: 95vh;
  overflow: hidden;
  clip-path: var(--clip-path-bottom);

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  & .background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  & .mouse-ancor {
    position: absolute;
    bottom: 108px;
    right: 128px;
    cursor: pointer;
    height: 102px;
    overflow: hidden;
  }

  & .mouse-click {
    position: relative;
    top: 0;
    left: 0;
    animation: mouse-effect 1.5s alternate infinite ease-in-out;
    animation-delay: 2.5s;
  }

  & .mouse-line {
    display: block;
    width: 1.5px;
    height: 0px;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;

    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 15px;
    animation: mouse-line-effect 1.5s alternate infinite ease-in-out;
    animation-delay: 2.5s;
  }
}

@keyframes mouse-effect {
  from {
    top: 0px;
  }
  to {
    top: 15px;
  }
}

@keyframes mouse-line-effect {
  from {
    height: 0px;
  }
  to {
    height: 33px;
  }
}

@keyframes slide-left {
  0% {
    right: -30px;
  }

  100% {
    right: 0px;
  }
}

.nav {
  position: relative;
  z-index: 2;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  min-width: 400px;
  min-height: 588px;
  height: 100%;
  padding-top: 25px;

  width: max-content;
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-ease);

  & .menu-item {
    width: 100%;
    color: var(--secondary);
    position: relative;
    font-size: 18px;
    cursor: pointer;
    padding: 18px 0;
    padding-left: 42px;
    transition: var(--transition-ease);
    font-size: 26px;

    /* &:hover {
        background-color: var(--tertiary);
      } */

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 0%;
      height: 100%;
      transition: all 0.3s ease;
      z-index: -1;
    }

    &::before {
      top: 0;
      background-color: var(--tertiary);
      /* right: -1px;
      bottom: -1px; */
      /* border-bottom: 1px solid transparent;
      border-right: 1px solid transparent; */
    }

    &::after {
      background-color: transparent;
      /* top: 0;
      left: 0; */
      /* border-top: 1px solid transparent;
      border-left: 1px solid transparent; */
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
      /* border-color: var(--secondary); */
    }
  }
}

.section-2 {
  max-height: 700px;
  height: 100%;
  text-align: center;
  padding: 120px 0;

  & .text {
    font-weight: 300;
    font-size: 32px;
    max-width: 760px;
    margin: auto;
    margin-top: 20px;
  }
}

.section-3 {
  background-color: #000;
  width: 100%;
  height: 100vh;

  clip-path: var(--clip-path-top);
}

/* .trapezoid {
  position: absolute;
  right: 0;
  bottom: -1px;
  background-color: var(--secondary);
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);

  height: 52px;
  width: 720px;
} */
/* Header */
